<tr>
  <td>
    <% if sharing_book.book.photos.any? %>
      <%= image_tag sharing_book.book.photos[0].url, {width: 130, height: 90} %>
    <% else %>
      <%= image_tag "/assets/fallback/default.jpg", {width: 130, height: 90} %>
    <% end %>
  </td>
  <td><%= link_to sharing_book.book.title, book_path(sharing_book.book) %></td>
  <td><%= sharing_book.quantity %></td>
  <td><%= link_to sharing_book.owner.name, user_path(sharing_book.owner) %></td>
  <td class="status"><%= sharing_book.status %></td>
  <td><%= l sharing_book.created_at, format: :short %></td>
  <td>
    <%= render partial: "dashboard/sharing_books/action_btn", locals: {sharing_book: sharing_book} %>
  </td>
</tr>
