<!-- Start Bradcaump area -->
<div class="ht__bradcaump__area bg-image--6">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="bradcaump__inner text-center">
          <h2 class="bradcaump-title"><%= t ".title" %></h2>
          <nav class="bradcaump-content">
            <%= link_to t(".home"), root_path, class: "breadcrumb_item" %>
            <span class="brd-separetor">/</span>
            <span class="breadcrumb_item active"><%= t ".title" %></span>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Bradcaump area -->
<hr>
<div class="container">
  <div class="row">
    <div class="col-sm-3"><!--left col-->
      <hr>
      <br>
      <ul class="list-group">
        <li class="list-group-item text-muted">Activity <i class="fas fa-tachometer-alt"></i></li>
        <li class="list-group-item text-right"><span class="pull-left"><strong>Shares</strong></span> 125</li>
        <li class="list-group-item text-right"><span class="pull-left"><strong>Likes</strong></span> 13</li>
        <li class="list-group-item text-right"><span class="pull-left"><strong>Posts</strong></span> <%= current_user.posts.size %></li>
        <li class="list-group-item text-right"><span class="pull-left"><strong>Followers</strong></span> 78</li>
      </ul>
      <div class="panel panel-default">
        <div class="panel-heading">Social Media</div>
        <div class="panel-body">
          <i class="fab fa-facebook fa-2x"></i> <i class="fab fa-github fa-2x"></i> <i class="fab fa-twitter fa-2x"></i> <i class="fab fa-pinterest fa-2x"></i> <i class="fab fa-google-plus fa-2x"></i>
        </div>
      </div>
    </div>
    <!--/col-3-->
    <div class="col-sm-9">
      <hr>
      <br>
      <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#home"><%= t ".edit_profile" %></a></li>
      </ul>
      <div class="tab-content">
        <div class="tab-pane active" id="home">
          <hr>
          <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
            <%= render "devise/shared/error_messages", resource: resource %>
            <div class="form-group">
              <div class="text-center">
                <%= image_tag current_user.avatar_url, class: "avatar img-circle img-thumbnail" %>
                <h6>Upload a different photo...</h6>
                <%= f.file_field :avatar, class: "text-center center-block file-upload" %>
              </div>
            </div>
            <div class="form-group">
              <div class="col-xs-6">
                <%= f.label :email %><br />
                <%= f.email_field :email, class: "form-control", disabled: :true %>
              </div>
              <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
                <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
              <% end %>
            </div>
            <div class="form-group">
              <div class="col-xs-6">
                <%= f.label :name, t("form.name") %><br />
                <%= f.text_field :name, autofocus: true, autocomplete: "name", class: "form-control" %>
              </div>
            </div>
            <div class="form-group">
              <div class="col-xs-6">
                <%= f.label :phone, t("form.phone") %><br />
                <%= f.text_field :phone, autocomplete: "phone", class: "form-control" %>
              </div>
            </div>
            <div class="form-group">
              <div class="col-xs-6">
                <%= f.label :address, t("form.address") %><br />
                <%= f.text_field :address, autocomplete: "address", class: "form-control" %>
              </div>
            </div>
            <div class="form-group">
              <div class="col-xs-6">
                <%= f.label :role, t("form.role") %><br />
                <%= f.select :role, User.roles.map{|role| [role[0].humanize, role[0]]}, {class: "form-control"} %>
              </div>
            </div>
            <div class="form-group">
              <div class="col-xs-6">
                <%= f.label :password, t("form.password") %> <i>(leave blank if you don't want to change it)</i><br />
                <%= f.password_field :password, autocomplete: "new-password", class: "form-control" %>
                <% if @minimum_password_length %>
                  <br />
                  <em><%= @minimum_password_length %> characters minimum</em>
                <% end %>
              </div>
            </div>
            <div class="form-group">
              <div class="col-xs-6">
                <%= f.label :password_confirmation, t("form.password_confirm") %><br />
                <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
              </div>
            </div>
            <div class="form-group">
              <div class="col-xs-6">
                <%= f.label :current_password, t("form.current_password") %> <i>(we need your current password to confirm your changes)</i><br />
                <%= f.password_field :current_password, autocomplete: "current-password", class: "form-control" %>
              </div>
            </div>
            <div class="form-group">
              <div class="col-xs-12">
                <br>
                <%= f.submit class: "btn btn-lg btn-success" do %>
                  <i class="fas fa-ok-sign"></i> <%= t "action.save" %>
                <% end %>
                <%= f.button type: "reset", class: "btn btn-sm btn-default" do %>
                  <i class="fas fa-repeat"></i> <%= t "action.reset" %>
                <% end %>
              </div>
            </div>
          <% end %>
          <hr>
          <h3>Cancel my account</h3>
          <p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>
          <%= link_to "Back", :back %>
        </div>
        <!--/tab-pane-->
        <div class="tab-pane" id="messages">
        </div>
        <!--/tab-pane-->
        <div class="tab-pane" id="settings">
        </div>
        <!--/tab-pane-->
      </div>
      <!--/tab-content-->
    </div>
    <!--/col-9-->
  </div>
  <!--/row-->
</div>
