<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">
  <!-- Brand Logo -->
  <%= link_to users_path, class: "brand-link" do %>
    <img src="/assets/admin-lte/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
    <span class="brand-text font-weight-light">AdminLTE 3</span>
  <% end %>
  <!-- Sidebar -->
  <div class="sidebar">
    <!-- Sidebar user panel (optional) -->
    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
      <div class="image">
        <%= image_tag current_user.avatar_url, class: "img-circle elevation-2" %>
      </div>
      <div class="info">
        <%= link_to current_user.name, "", class: "d-block" %>
      </div>
    </div>
    <!-- Sidebar Menu -->
    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column text-sm nav-flat nav-legacy nav-compact"
        data-widget="treeview" role="menu" data-accordion="false">
        <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
        <li class="nav-item">
          <%= link_to users_path, class: "nav-link #{'active' if controller_name == 'users' && action_name == 'index'}" do %>
            <i class="nav-icon fas fa-tachometer-alt"></i>
            <p>
              Dashboard
            </p>
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to dashboard_books_path, class: "nav-link #{'active' if controller_name == 'books' && action_name == 'index'}" do %>
            <i class="nav-icon fas fa-book"></i>
            <p>
              Books
            </p>
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to dashboard_conversations_path, class: "nav-link #{'active' if controller_name == 'conversations' && action_name == 'index'}" do %>
            <i class="nav-icon fab fa-facebook-messenger"></i>
            <p>
              Inbox
              <span class="badge badge-danger right" id="inbox-counter"><%= @inbox_counter %></span>
            </p>
          <% end %>
        </li>
        <li class="nav-item has-treeview <%= 'menu-open' if controller_name == 'sharing_books' %>">
          <a href="#" class="nav-link <%= 'active' if controller_name == 'sharing_books' %>">
            <i class="nav-icon fas fa-copy"></i>
            <p>
              Sharing
              <i class="fas fa-angle-left right"></i>
              <span class="badge badge-info right"><%= @request_sharing_books_counter %></span>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <%= link_to dashboard_sharing_books_requests_path,
                class: "nav-link #{'active' if controller_name == 'sharing_books' && action_name == 'request_book'}" do %>
                <i class="far fa-circle nav-icon"></i>
                <p>Requests</p>
                <span class="badge badge-danger right"><%= "New" if @request_sharing_books_counter > 0 %></span>
              <% end %>
            </li>
            <li class="nav-item">
              <%= link_to dashboard_sharing_books_path,
                class: "nav-link #{'active' if controller_name == 'sharing_books' && action_name == 'index'}" do %>
                <i class="far fa-circle nav-icon"></i>
                <p>Collection</p>
              <% end %>
            </li>
          </ul>
        </li>
        <li class="nav-item has-treeview <%= 'menu-open' if controller_name == 'sharing_books' %>">
          <a href="#" class="nav-link <%= 'active' if controller_name == 'sharing_books' %>">
            <i class="nav-icon fas fa-exchange-alt"></i>
            <p>
              Exchange
              <i class="fas fa-angle-left right"></i>
              <span class="badge badge-info right"><%= @request_exchange_books_counter %></span>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <%= link_to dashboard_exchange_books_requests_path,
                class: "nav-link #{'active' if controller_name == 'exchange_books' && action_name == 'request_book'}" do %>
                <i class="far fa-circle nav-icon"></i>
                <p>Requests</p>
                <span class="badge badge-danger right"><%= "New" if @request_exchange_books_counter > 0 %></span>
              <% end %>
            </li>
            <li class="nav-item">
              <%= link_to dashboard_exchange_books_path,
                class: "nav-link #{'active' if controller_name == 'exchange_books' && action_name == 'index'}" do %>
                <i class="far fa-circle nav-icon"></i>
                <p>Collection</p>
              <% end %>
            </li>
          </ul>
        </li>
        <li class="nav-item">
          <%= link_to dashboard_orders_path, class: "nav-link #{'active' if controller_name == 'orders' && action_name == 'index'}" do %>
            <i class="nav-icon fas fa-scroll"></i>
            <p>
              My Orders
            </p>
          <% end %>
        </li>
        <% if current_user.seller? %>
          <li class="nav-item">
          <%= link_to dashboard_user_orders_path, class: "nav-link #{'active' if controller_name == 'orders' && action_name == 'user_order'}" do %>
            <i class="nav-icon fas fa-paper-plane"></i>
            <p>
              Orders
            </p>
          <% end %>
        </li>
        <% end %>
        <li class="nav-header">Settings</li>
        <li class="nav-item">
          <%= link_to destroy_user_session_path, method: :delete, class: "nav-link" do %>
            <i class="nav-icon fas fa-power-off"></i>
            <p>
              Logout
            </p>
          <% end %>
        </li>
      </ul>
    </nav>
    <!-- /.sidebar-menu -->
  </div>
  <!-- /.sidebar -->
</aside>
