<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0 text-dark"><%= t ".dashboard" %></h1>
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
  </div>
  <!-- /.content-header -->
  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">
      <!-- Small boxes (Stat box) -->
      <div class="row">
        <div class="col-lg-3 col-6">
          <!-- small box -->
          <div class="small-box bg-info">
            <div class="inner">
              <h3><%= current_user.orders.count %></h3>
              <p><%= t ".your_orders" %></p>
            </div>
            <div class="icon">
              <i class="ion ion-bag"></i>
            </div>
            <%= link_to dashboard_orders_path, class: "small-box-footer" do %>
              <%= t(".more_info") %> <i class="fas fa-arrow-circle-right"></i>
            <% end %>
          </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-6">
          <!-- small box -->
          <div class="small-box bg-success">
            <div class="inner">
              <h3><%= current_user.books.count %></h3>
              <p><%= t ".books" %></p>
            </div>
            <div class="icon">
              <i class="ion ion-ios-book-outline"></i>
              <ion-icon name="book"></ion-icon>
            </div>
            <%= link_to dashboard_books_path, class: "small-box-footer" do %>
              <%= t(".more_info") %> <i class="fas fa-arrow-circle-right"></i>
            <% end %>
          </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-6">
          <!-- small box -->
          <div class="small-box bg-warning">
            <div class="inner">
              <h3><%= current_user.following.count %></h3>
              <p><%= t ".followings" %></p>
            </div>
            <div class="icon">
              <i class="ion ion-person-add"></i>
            </div>
            <%= link_to "", class: "small-box-footer" do %>
              <%= t(".more_info") %> <i class="fas fa-arrow-circle-right"></i>
            <% end %>
          </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-6">
          <!-- small box -->
          <div class="small-box bg-danger">
            <div class="inner">
              <h3><%= current_user.followers.count %></h3>
              <p><%= t ".followers" %></p>
            </div>
            <div class="icon">
              <i class="ion ion-person"></i>
            </div>
            <%= link_to "", class: "small-box-footer" do %>
              <%= t(".more_info") %> <i class="fas fa-arrow-circle-right"></i>
            <% end %>
          </div>
        </div>
        <!-- ./col -->
      </div>
      <!-- /.row -->
      <!-- Main row -->
      <div class="row">
        <!-- Left col -->
        <section class="col-lg-7 connectedSortable">
        </section>
        <!-- /.Left col -->
        <!-- right col (We are only adding the ID to make the widgets sortable)-->
        <section class="col-lg-5 connectedSortable">
        </section>
        <!-- right col -->
      </div>
      <!-- /.row (main row) -->
    </div>
    <!-- /.container-fluid -->
  </section>
  <!-- /.content -->
</div>
<!-- /.content-wrapper -->
