<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1><%= t ".your_books" %></h1>
        </div>
      </div>
    </div>
    <!-- /.container-fluid -->
  </section>
  <!-- Main content -->
  <section class="content">
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-header">
            <h3 class="card-title">
              <%= link_to new_dashboard_book_path do %>
                <i class="fas fa-plus"></i> <%= t ".new_book" %>
              <% end %>
            </h3>
          </div>
          <!-- /.card-header -->
          <div class="card-body">
            <table id="books_table" class="table table-bordered table-striped">
              <thead>
                <tr>
                  <th><%= t "table.title" %></th>
                  <th><%= t "table.category" %></th>
                  <th><%= t "table.type" %></th>
                  <th><%= t "table.price" %></th>
                  <th><%= t "table.qty" %></th>
                  <th><%= t "table.rating" %></th>
                  <th><%= t "table.discount" %></th>
                  <th><%= t "table.status" %></th>
                  <th><%= t "table.created" %></th>
                  <th><%= t "table.action" %></th>
                </tr>
              </thead>
              <tbody>
                <%= render @books %>
              </tbody>
              <tfoot>
                <tr>
                  <th><%= t "table.title" %></th>
                  <th><%= t "table.category" %></th>
                  <th><%= t "table.type" %></th>
                  <th><%= t "table.price" %></th>
                  <th><%= t "table.qty" %></th>
                  <th><%= t "table.rating" %></th>
                  <th><%= t "table.discount" %></th>
                  <th><%= t "table.status" %></th>
                  <th><%= t "table.created" %></th>
                  <th><%= t "table.action" %></th>
                </tr>
              </tfoot>
            </table>
          </div>
          <!-- /.card-body -->
        </div>
        <!-- /.card -->
      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->
  </section>
  <!-- /.content -->
</div>
<!-- /.content-wrapper -->
