<tr>
  <td><%= user_counter + 100 %></td>
  <td><%= link_to user.name, user_path(user) %></td>
  <td><%= user.email %></td>
  <td><%= user.phone %></td>
  <td><%= user.address %></td>
  <td><%= user.role %></td>
  <td><%= l user.created_at, format: :s_short %></td>
  <td>
    <%= link_to "javascript:void(0)", "data-toggle": "modal", "data-target": "#modal-user-#{user.id}" do %>
      <i class="fas fa-edit"></i>
    <% end %>
    <%= link_to "javascript:void(0)", data: { confirm: t("alert.lock_confirm") } do %>
      <i class="fas fa-unlock"></i>
    <% end %>
    <%= link_to user_path(user), method: :delete, data: { confirm: t("alert.confirm") } do %>
      <i class="fas fa-trash-alt text-danger"></i>
    <% end %>
  </td>
</tr>
