<!-- form start -->
<%= form_for [:admins, @post] do |f| %>
  <%= render "shared/error_messages", object: f.object %>
  <div class="card-body">
    <div class="form-group">
      <%= f.label :title, t(".title"), class: "control-label" %>
      <%= f.text_field :title, required: true, class: "form-control",
        placeholder: t("placeholder.enter_title") %>
    </div>
    <div class="form-group">
      <%= f.label :photo, t(".photo"), class: "control-label" %>
      <div class="image-sortable">
          <div class="image" id="preview-image">
            <%= image_tag(@post.photo.url, height: 270, width: 340) %>
          </div>
      </div>
      <div class="input-group">
        <div class="custom-file">
          <%= f.file_field :photo, class: "custom-file-input upload-image" %>
          <%= f.label :photo, "Choose file", class: "custom-file-label" %>
        </div>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :preview, t(".preview"), class: "control-label" %>
      <%= f.text_area :preview, required: true, class: "form-control",
        placeholder: t("placeholder.enter_preview") %>
    </div>
    <div class="form-group">
      <%= f.label :content, t(".content"), class: "control-label" %>
      <%= f.text_area :content, required: true, class: "form-control editor",
        placeholder: t("placeholder.enter_content") %>
    </div>
  </div>
  <!-- /.card-body -->
  <div class="card-footer">
    <%= f.submit t("action.save"), class: "btn btn-primary" %>
    <button type="reset" class="btn"><%= t "action.reset" %></button>
  </div>
<% end %>
