<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <% if action_name == "request_book" %>
            <h1><%= t ".request_books" %></h1>
          <% else %>
            <h1><%= t ".collected_books" %></h1>
          <% end %>
        </div>
      </div>
    </div>
    <!-- /.container-fluid -->
  </section>
  <!-- Main content -->
  <section class="content">
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-header">
            <h3 class="card-title">
              <% if action_name == "request_book" %>
                <%= t ".title" %>
              <% else %>
                <%= t ".title_collection" %>
              <% end %>
            </h3>
          </div>
          <!-- /.card-header -->
          <div class="card-body">
            <table id="books_table" class="table table-bordered table-striped">
              <thead>
                <tr>
                  <th><%= t "table.photo" %></th>
                  <th><%= t "table.title" %></th>
                  <th><%= t "table.qty" %></th>
                  <% if action_name == "request_book" %>
                    <th><%= t "table.collector" %></th>
                  <% else %>
                    <th><%= t "table.owner" %></th>
                  <% end %>
                  <th><%= t "table.status" %></th>
                  <th><%= t "table.created" %></th>
                  <th><%= t "table.action" %></th>
                </tr>
              </thead>
              <tbody>
                <%= render @exchange_books %>
              </tbody>
              <tfoot>
                <tr>
                  <th><%= t "table.photo" %></th>
                  <th><%= t "table.title" %></th>
                  <th><%= t "table.qty" %></th>
                  <% if action_name == "request_book" %>
                    <th><%= t "table.collector" %></th>
                  <% else %>
                    <th><%= t "table.owner" %></th>
                  <% end %>
                  <th><%= t "table.status" %></th>
                  <th><%= t "table.created" %></th>
                  <th><%= t "table.action" %></th>
                </tr>
              </tfoot>
            </table>
          </div>
          <!-- /.card-body -->
        </div>
        <!-- /.card -->
      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->
  </section>
  <!-- /.content -->
</div>
<!-- /.content-wrapper -->
