<!-- Start Bradcaump area -->
<div class="ht__bradcaump__area bg-image--6">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="bradcaump__inner text-center">
          <h2 class="bradcaump-title"><%= @title %></h2>
          <nav class="bradcaump-content">
            <%= link_to t(".home"), root_path, class: "breadcrumb_item" %>
            <span class="brd-separetor">/</span>
            <span class="breadcrumb_item active"><%= @title %></span>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Bradcaump area -->
<!-- Start Shop Page -->
<div class="page-shop-sidebar left--sidebar bg--white section-padding--lg">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-12 order-2 order-lg-1 md-mt-40 sm-mt-40">
        <div class="shop__sidebar">
          <aside class="wedget__categories poroduct--cat">
            <h3 class="wedget__title"><%= t ".categories" %></h3>
            <ul>
              <% case @type %>
              <% when "selling" %>
                <li><%= link_to selling_books_path do %>
                  <%= t ".all" %> <span>(<%= get_size @type %>)</span>
                <% end %></li>
              <% when "sharing" %>
              <li><%= link_to sharing_books_path do %>
                <%= t ".all" %> <span>(<%= get_size @type %>)</span>
              <% end %></li>
              <% when "exchange" %>
              <li><%= link_to exchange_books_path do %>
                <%= t ".all" %> <span>(<%= get_size @type %>)</span>
              <% end %></li>
              <% else %>
                <li><%= link_to books_path do %>
                  <%= t ".all" %> <span>(<%= get_size @type %>)</span>
                <% end %></li>
              <% end %>
              <% @categories.each do |category| %>
                <li><%= link_to category_path(category, type: @type) do %>
                  <%= category.name %> <span>(<%= get_category_size category, @type %>)</span>
                <% end %></li>
              <% end %>
            </ul>
          </aside>
          <aside class="wedget__categories sidebar--banner">
            <img src="/assets/others/banner_left.jpg" alt="banner images">
            <div class="text">
              <%= t ".new_products_html" %>
            </div>
          </aside>
        </div>
      </div>
      <div class="col-lg-9 col-12 order-1 order-lg-2">
        <div class="tab__container">
          <div class="shop-grid tab-pane fade show active" id="nav-grid" role="tabpanel">
            <div class="row">
              <%= render @books %>
            </div>
            <%= paginate @books %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Shop Page -->
<%= render partial: "shared/quick_view_product", collection: @books, as: :book %>
