<!-- Start Bradcaump area -->
<div class="ht__bradcaump__area bg-image--4">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="bradcaump__inner text-center">
          <h2 class="bradcaump-title"><%= t ".title" %></h2>
          <nav class="bradcaump-content">
            <%= link_to t(".home"), root_path, class: "breadcrumb_item" %>
            <span class="brd-separetor">/</span>
            <span class="breadcrumb_item active"><%= @book.title %></span>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Bradcaump area -->
<!-- Start main Content -->
<div class="maincontent bg--white pt--80 pb--55">
  <div class="container">
    <div class="row">
      <div class="col-lg-9 col-12">
        <div class="wn__single__product">
          <div class="row">
            <div class="col-lg-6 col-12">
              <div class="wn__fotorama__wrapper">
                <div class="fotorama wn__fotorama__action" data-nav="thumbs">
                  <% @book.photos.each do |photo| %>
                    <%= link_to photo.url do %>
                      <%= image_tag photo.url %>
                    <% end %>
                  <% end %>
                </div>
              </div>
            </div>
            <div class="col-lg-6 col-12">
              <div class="product__info__main">
                <h1><%= @book.title %></h1>
                <div class="product-reviews-summary d-flex">
                  <div data-rating="<%= @book.rating %>" class="rateyo-readonly" style="top: 2px;"></div>
                  <span id="overrall">(<%= @book.rating %>/5)</span>
                </div>
                <div class="price-box">
                  <span><%= number_to_currency_format @book.price * (100 - @book.discount) / 100 %></span>
                  <del><%= number_to_currency_format @book.price %></del>
                </div>
                <div class="product__overview">
                  <%= @book.brief_description %>
                </div>
                <div class="box-tocart d-flex">
                  <span><%= t ".qty" %></span>
                  <input id="qty" class="input-text qty" name="qty" min="1" max="<%= @book.quantity %>" value="1" title="Qty" type="number">
                  <div class="addtocart__actions">
                    <% if @book.selling? %>
                      <button class="tocart cart" type="submit" title="Add to Cart" data-book-id="<%= @book.id %>"><%= t ".add_to_cart" %></button>
                    <% elsif @book.sharing? %>
                      <button class="tocart collect" type="submit" title="Collect" data-book-id="<%= @book.id %>"><%= t ".collect" %></button>
                    <% elsif @book.exchange? %>
                      <button class="tocart exchange" type="submit" title="Exchange" data-book-id="<%= @book.id %>"><%= t ".exchange" %></button>
                    <% end %>
                  </div>
                  <div class="product-addto-links clearfix">
                    <a class="wishlist" href="#"></a>
                  </div>
                </div>
                <div class="product_meta">
                  <span class="posted_in"><%= t ".categories" %>:
                    <%= link_to @book.category.name, category_path(@book.category) %>
                  </span>
                </div>
                <div class="product_meta">
                  <span class="posted_in"><%= t ".owner" %>:
                    <%= link_to @book.user.name, user_path(@book.user) %>
                  </span>
                </div>
                <div class="product-share">
                  <ul>
                    <li class="categories-title"><%= t ".share" %> :</li>
                    <li>
                      <a href="#">
                        <i class="fab fa-twitter"></i>
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <i class="fab fa-google-plus-g"></i>
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <i class="fab fa-facebook-f"></i>
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <i class="fab fa-instagram"></i>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="product__info__detailed">
          <div class="pro_details_nav nav justify-content-start" role="tablist">
            <a class="nav-item nav-link active" data-toggle="tab" href="#nav-details" role="tab"><%= t ".details"%></a>
            <a class="nav-item nav-link" data-toggle="tab" href="#nav-review" role="tab"><%= t ".reviews"%></a>
          </div>
          <div class="tab__container">
            <!-- Start Single Tab Content -->
            <div class="pro__tab_label tab-pane fade show active" id="nav-details" role="tabpanel">
              <div class="description__attribute">
                <%= @book.description.html_safe %>
              </div>
            </div>
            <!-- End Single Tab Content -->
            <!-- Start Single Tab Content -->
            <div class="pro__tab_label tab-pane fade" id="nav-review" role="tabpanel">
              <div class="review__attribute">
                <h1><%= t ".customer_reviews" %></h1>
                <% if @reviews.empty? %>
                  <h3 id="no_review"><%= t ".no_reivews" %></h3>
                <% end %>
                <div class="review__ratings__type d-flex">
                  <div class="comments_area">
                    <ul class="comment__list" id="review_list">
                      <%= render partial: "books/review", collection: @reviews %>
                    </ul>
                  </div>
                </div>
              </div>
              <% if user_signed_in? %>
                <%= render "form_review" %>
              <% end %>
            </div>
            <!-- End Single Tab Content -->
          </div>
        </div>
        <div class="wn__related__product pt--80 pb--50">
          <div class="section__title text-center">
            <h2 class="title__be--2"><%= t ".related_books" %></h2>
          </div>
          <div class="row mt--60">
            <div class="productcategory__slide--2 arrows_style owl-carousel owl-theme">
              <%= render partial: "book", collection: @related_books, as: :book %>
            </div>
          </div>
        </div>
        <div class="wn__related__product">
          <div class="section__title text-center">
            <h2 class="title__be--2"><%= t ".recommended_books" %></h2>
          </div>
          <div class="row mt--60">
            <div class="productcategory__slide--2 arrows_style owl-carousel owl-theme">
              <%= render partial: "book", collection: @recommended_books, as: :book %>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-12 md-mt-40 sm-mt-40">
        <div class="shop__sidebar">
          <aside class="wedget__categories poroduct--cat">
            <h3 class="wedget__title"><%= t ".categories" %></h3>
            <ul>
              <% @categories.each do |category| %>
                <li><%= link_to category_path(category) do %>
                    <%= category.name %> <span>(<%= category.books.size %>)</span>
                  <% end %></li>
              <% end %>
            </ul>
          </aside>
          <aside class="wedget__categories sidebar--banner">
            <img src="/assets/others/banner_left.jpg" alt="banner images">
            <div class="text">
              <%= t ".new_products_html" %>
            </div>
          </aside>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End main Content -->
