<!-- Start Bradcaump area -->
<div class="ht__bradcaump__area bg-image--4">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="bradcaump__inner text-center">
          <h2 class="bradcaump-title">Shop Single</h2>
          <nav class="bradcaump-content">
            <a class="breadcrumb_item" href="index.html">Home</a>
            <span class="brd-separetor">/</span>
            <span class="breadcrumb_item active">Shop Single</span>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Bradcaump area -->
<!-- Start main Content -->
<div class="maincontent bg--white pt--80 pb--55">
  <div class="container">
    <div class="row">
      <div class="col-lg-9 col-12">
        <div class="wn__single__product">
          <div class="row">
            <div class="col-lg-6 col-12">
              <div class="wn__fotorama__wrapper">
                <div class="fotorama wn__fotorama__action" data-nav="thumbs">
                  <% @book.photos.each do |photo| %>
                    <%= link_to photo.url do %>
                      <%= image_tag photo.url %>
                    <% end %>
                  <% end %>
                </div>
              </div>
            </div>
            <div class="col-lg-6 col-12">
              <div class="product__info__main">
                <h1><%= @book.title %></h1>
                <div class="product-reviews-summary d-flex">
                  <div data-rating="<%= @book.rating %>" class="rateyo-readonly" style="top: 2px;"></div>
                  <span id="overrall">(<%= @book.rating %>/5)</span>
                </div>
                <div class="price-box">
                  <span><%= number_to_currency_format @book.price * (100 - @book.discount) / 100 %></span>
                  <del><%= number_to_currency_format @book.price %></del>
                </div>
                <div class="product__overview">
                  <%= @book.brief_description %>
                </div>
                <div class="box-tocart d-flex">
                  <span>Qty</span>
                  <input id="qty" class="input-text qty" name="qty" min="1" max="<%= @book.quantity %>" value="1" title="Qty" type="number">
                  <div class="addtocart__actions">
                    <% if @book.selling? %>
                      <button class="tocart cart" type="submit" title="Add to Cart" data-book-id="<%= @book.id %>">Add to Cart</button>
                    <% elsif @book.sharing? %>
                      <button class="tocart collect" type="submit" title="Collect" data-book-id="<%= @book.id %>">Collect</button>
                    <% elsif @book.exchange? %>
                      <button class="tocart exchange" type="submit" title="Exchange" data-book-id="<%= @book.id %>">Exchange</button>
                    <% end %>
                  </div>
                  <div class="product-addto-links clearfix">
                    <a class="wishlist" href="#"></a>
                  </div>
                </div>
                <div class="product_meta">
                  <span class="posted_in">Categories:
                    <%= link_to @book.category.name, category_path(@book.category) %>
                  </span>
                </div>
                <div class="product-share">
                  <ul>
                    <li class="categories-title">Share :</li>
                    <li>
                      <a href="#">
                        <i class="fab fa-twitter"></i>
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <i class="fab fa-google-plus-g"></i>
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <i class="fab fa-facebook-f"></i>
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <i class="fab fa-instagram"></i>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="product__info__detailed">
          <div class="pro_details_nav nav justify-content-start" role="tablist">
            <a class="nav-item nav-link active" data-toggle="tab" href="#nav-details" role="tab">Details</a>
            <a class="nav-item nav-link" data-toggle="tab" href="#nav-review" role="tab">Reviews</a>
          </div>
          <div class="tab__container">
            <!-- Start Single Tab Content -->
            <div class="pro__tab_label tab-pane fade show active" id="nav-details" role="tabpanel">
              <div class="description__attribute">
                <%= @book.description.html_safe %>
              </div>
            </div>
            <!-- End Single Tab Content -->
            <!-- Start Single Tab Content -->
            <div class="pro__tab_label tab-pane fade" id="nav-review" role="tabpanel">
              <div class="review__attribute">
                <h1>Customer Reviews</h1>
                <% if @reviews.empty? %>
                  <h3 id="no_review">No reviews.</h3>
                <% end %>
                <div class="review__ratings__type d-flex">
                  <div class="comments_area">
                    <ul class="comment__list" id="review_list">
                      <%= render partial: "books/review", collection: @reviews %>
                    </ul>
                  </div>
                </div>
              </div>
              <% if user_signed_in? %>
                <%= render "form_review" %>
              <% end %>
            </div>
            <!-- End Single Tab Content -->
          </div>
        </div>
        <div class="wn__related__product pt--80 pb--50">
          <div class="section__title text-center">
            <h2 class="title__be--2">Related Products</h2>
          </div>
          <div class="row mt--60">
            <div class="productcategory__slide--2 arrows_style owl-carousel owl-theme">
              <!-- Start Single Product -->
              <div class="product product__style--3 col-lg-4 col-md-4 col-sm-6 col-12">
                <div class="product__thumb">
                  <a class="first__img" href="single-product.html"><img src="/assets/books/1.jpg" alt="product image"></a>
                  <a class="second__img animation1" href="single-product.html"><img src="/assets/books/2.jpg" alt="product image"></a>
                  <div class="hot__box">
                    <span class="hot-label">BEST SALLER</span>
                  </div>
                </div>
                <div class="product__content content--center">
                  <h4><a href="single-product.html">robin parrish</a></h4>
                  <ul class="prize d-flex">
                    <li>$35.00</li>
                    <li class="old_prize">$35.00</li>
                  </ul>
                  <div class="action">
                    <div class="actions_inner">
                      <ul class="add_to_links">
                        <li><a class="cart" href="cart.html"><i class="bi bi-shopping-bag4"></i></a></li>
                        <li><a class="wishlist" href="wishlist.html"><i class="bi bi-shopping-cart-full"></i></a></li>
                        <li><a class="compare" href="#"><i class="bi bi-heart-beat"></i></a></li>
                        <li><a data-toggle="modal" title="Quick View" class="quickview modal-view detail-link" href="#productmodal"><i class="bi bi-search"></i></a></li>
                      </ul>
                    </div>
                  </div>
                  <div class="product__hover--content">
                    <ul class="rating d-flex">
                      <li class="on"><i class="fa fa-star-o"></i></li>
                      <li class="on"><i class="fa fa-star-o"></i></li>
                      <li class="on"><i class="fa fa-star-o"></i></li>
                      <li><i class="fa fa-star-o"></i></li>
                      <li><i class="fa fa-star-o"></i></li>
                    </ul>
                  </div>
                </div>
              </div>
              <!-- Start Single Product -->
              <!-- Start Single Product -->
              <div class="product product__style--3 col-lg-4 col-md-4 col-sm-6 col-12">
                <div class="product__thumb">
                  <a class="first__img" href="single-product.html"><img src="/assets/books/3.jpg" alt="product image"></a>
                  <a class="second__img animation1" href="single-product.html"><img src="/assets/books/4.jpg" alt="product image"></a>
                  <div class="hot__box color--2">
                    <span class="hot-label">HOT</span>
                  </div>
                </div>
                <div class="product__content content--center">
                  <h4><a href="single-product.html">The Remainng</a></h4>
                  <ul class="prize d-flex">
                    <li>$35.00</li>
                    <li class="old_prize">$35.00</li>
                  </ul>
                  <div class="action">
                    <div class="actions_inner">
                      <ul class="add_to_links">
                        <li><a class="cart" href="cart.html"><i class="bi bi-shopping-bag4"></i></a></li>
                        <li><a class="wishlist" href="wishlist.html"><i class="bi bi-shopping-cart-full"></i></a></li>
                        <li><a class="compare" href="#"><i class="bi bi-heart-beat"></i></a></li>
                        <li><a data-toggle="modal" title="Quick View" class="quickview modal-view detail-link" href="#productmodal"><i class="bi bi-search"></i></a></li>
                      </ul>
                    </div>
                  </div>
                  <div class="product__hover--content">
                    <ul class="rating d-flex">
                      <li class="on"><i class="fa fa-star-o"></i></li>
                      <li class="on"><i class="fa fa-star-o"></i></li>
                      <li class="on"><i class="fa fa-star-o"></i></li>
                      <li><i class="fa fa-star-o"></i></li>
                      <li><i class="fa fa-star-o"></i></li>
                    </ul>
                  </div>
                </div>
              </div>
              <!-- Start Single Product -->
              <!-- Start Single Product -->
              <div class="product product__style--3 col-lg-4 col-md-4 col-sm-6 col-12">
                <div class="product__thumb">
                  <a class="first__img" href="single-product.html"><img src="/assets/books/7.jpg" alt="product image"></a>
                  <a class="second__img animation1" href="single-product.html"><img src="/assets/books/8.jpg" alt="product image"></a>
                  <div class="hot__box">
                    <span class="hot-label">HOT</span>
                  </div>
                </div>
                <div class="product__content content--center">
                  <h4><a href="single-product.html">Lando</a></h4>
                  <ul class="prize d-flex">
                    <li>$35.00</li>
                    <li class="old_prize">$50.00</li>
                  </ul>
                  <div class="action">
                    <div class="actions_inner">
                      <ul class="add_to_links">
                        <li><a class="cart" href="cart.html"><i class="bi bi-shopping-bag4"></i></a></li>
                        <li><a class="wishlist" href="wishlist.html"><i class="bi bi-shopping-cart-full"></i></a></li>
                        <li><a class="compare" href="#"><i class="bi bi-heart-beat"></i></a></li>
                        <li><a data-toggle="modal" title="Quick View" class="quickview modal-view detail-link" href="#productmodal"><i class="bi bi-search"></i></a></li>
                      </ul>
                    </div>
                  </div>
                  <div class="product__hover--content">
                    <ul class="rating d-flex">
                      <li class="on"><i class="fa fa-star-o"></i></li>
                      <li class="on"><i class="fa fa-star-o"></i></li>
                      <li class="on"><i class="fa fa-star-o"></i></li>
                      <li><i class="fa fa-star-o"></i></li>
                      <li><i class="fa fa-star-o"></i></li>
                    </ul>
                  </div>
                </div>
              </div>
              <!-- Start Single Product -->
              <!-- Start Single Product -->
              <div class="product product__style--3 col-lg-4 col-md-4 col-sm-6 col-12">
                <div class="product__thumb">
                  <a class="first__img" href="single-product.html"><img src="/assets/books/9.jpg" alt="product image"></a>
                  <a class="second__img animation1" href="single-product.html"><img src="/assets/books/10.jpg" alt="product image"></a>
                  <div class="hot__box">
                    <span class="hot-label">HOT</span>
                  </div>
                </div>
                <div class="product__content content--center">
                  <h4><a href="single-product.html">Doctor Wldo</a></h4>
                  <ul class="prize d-flex">
                    <li>$35.00</li>
                    <li class="old_prize">$35.00</li>
                  </ul>
                  <div class="action">
                    <div class="actions_inner">
                      <ul class="add_to_links">
                        <li><a class="cart" href="cart.html"><i class="bi bi-shopping-bag4"></i></a></li>
                        <li><a class="wishlist" href="wishlist.html"><i class="bi bi-shopping-cart-full"></i></a></li>
                        <li><a class="compare" href="#"><i class="bi bi-heart-beat"></i></a></li>
                        <li><a data-toggle="modal" title="Quick View" class="quickview modal-view detail-link" href="#productmodal"><i class="bi bi-search"></i></a></li>
                      </ul>
                    </div>
                  </div>
                  <div class="product__hover--content">
                    <ul class="rating d-flex">
                      <li class="on"><i class="fa fa-star-o"></i></li>
                      <li class="on"><i class="fa fa-star-o"></i></li>
                      <li class="on"><i class="fa fa-star-o"></i></li>
                      <li><i class="fa fa-star-o"></i></li>
                      <li><i class="fa fa-star-o"></i></li>
                    </ul>
                  </div>
                </div>
              </div>
              <!-- Start Single Product -->
              <!-- Start Single Product -->
              <div class="product product__style--3 col-lg-4 col-md-4 col-sm-6 col-12">
                <div class="product__thumb">
                  <a class="first__img" href="single-product.html"><img src="/assets/books/11.jpg" alt="product image"></a>
                  <a class="second__img animation1" href="single-product.html"><img src="/assets/books/2.jpg" alt="product image"></a>
                  <div class="hot__box">
                    <span class="hot-label">BEST SALER</span>
                  </div>
                </div>
                <div class="product__content content--center content--center">
                  <h4><a href="single-product.html">Animals Life</a></h4>
                  <ul class="prize d-flex">
                    <li>$50.00</li>
                    <li class="old_prize">$35.00</li>
                  </ul>
                  <div class="action">
                    <div class="actions_inner">
                      <ul class="add_to_links">
                        <li><a class="cart" href="cart.html"><i class="bi bi-shopping-bag4"></i></a></li>
                        <li><a class="wishlist" href="wishlist.html"><i class="bi bi-shopping-cart-full"></i></a></li>
                        <li><a class="compare" href="#"><i class="bi bi-heart-beat"></i></a></li>
                        <li><a data-toggle="modal" title="Quick View" class="quickview modal-view detail-link" href="#productmodal"><i class="bi bi-search"></i></a></li>
                      </ul>
                    </div>
                  </div>
                  <div class="product__hover--content">
                    <ul class="rating d-flex">
                      <li class="on"><i class="fa fa-star-o"></i></li>
                      <li class="on"><i class="fa fa-star-o"></i></li>
                      <li class="on"><i class="fa fa-star-o"></i></li>
                      <li><i class="fa fa-star-o"></i></li>
                      <li><i class="fa fa-star-o"></i></li>
                    </ul>
                  </div>
                </div>
              </div>
              <!-- Start Single Product -->
              <!-- Start Single Product -->
              <div class="product product__style--3 col-lg-4 col-md-4 col-sm-6 col-12">
                <div class="product__thumb">
                  <a class="first__img" href="single-product.html"><img src="/assets/books/1.jpg" alt="product image"></a>
                  <a class="second__img animation1" href="single-product.html"><img src="/assets/books/6.jpg" alt="product image"></a>
                  <div class="hot__box">
                    <span class="hot-label">BEST SALER</span>
                  </div>
                </div>
                <div class="product__content content--center content--center">
                  <h4><a href="single-product.html">Olio Madu</a></h4>
                  <ul class="prize d-flex">
                    <li>$50.00</li>
                    <li class="old_prize">$35.00</li>
                  </ul>
                  <div class="action">
                    <div class="actions_inner">
                      <ul class="add_to_links">
                        <li><a class="cart" href="cart.html"><i class="bi bi-shopping-bag4"></i></a></li>
                        <li><a class="wishlist" href="wishlist.html"><i class="bi bi-shopping-cart-full"></i></a></li>
                        <li><a class="compare" href="#"><i class="bi bi-heart-beat"></i></a></li>
                        <li><a data-toggle="modal" title="Quick View" class="quickview modal-view detail-link" href="#productmodal"><i class="bi bi-search"></i></a></li>
                      </ul>
                    </div>
                  </div>
                  <div class="product__hover--content">
                    <ul class="rating d-flex">
                      <li class="on"><i class="fa fa-star-o"></i></li>
                      <li class="on"><i class="fa fa-star-o"></i></li>
                      <li class="on"><i class="fa fa-star-o"></i></li>
                      <li><i class="fa fa-star-o"></i></li>
                      <li><i class="fa fa-star-o"></i></li>
                    </ul>
                  </div>
                </div>
              </div>
              <!-- Start Single Product -->
            </div>
          </div>
        </div>
        <div class="wn__related__product">
          <div class="section__title text-center">
            <h2 class="title__be--2">upsell products</h2>
          </div>
          <div class="row mt--60">
            <div class="productcategory__slide--2 arrows_style owl-carousel owl-theme">
              <!-- Start Single Product -->
              <div class="product product__style--3 col-lg-4 col-md-4 col-sm-6 col-12">
                <div class="product__thumb">
                  <a class="first__img" href="single-product.html"><img src="/assets/books/1.jpg" alt="product image"></a>
                  <a class="second__img animation1" href="single-product.html"><img src="/assets/books/2.jpg" alt="product image"></a>
                  <div class="hot__box">
                    <span class="hot-label">BEST SALLER</span>
                  </div>
                </div>
                <div class="product__content content--center">
                  <h4><a href="single-product.html">robin parrish</a></h4>
                  <ul class="prize d-flex">
                    <li>$35.00</li>
                    <li class="old_prize">$35.00</li>
                  </ul>
                  <div class="action">
                    <div class="actions_inner">
                      <ul class="add_to_links">
                        <li><a class="cart" href="cart.html"><i class="bi bi-shopping-bag4"></i></a></li>
                        <li><a class="wishlist" href="wishlist.html"><i class="bi bi-shopping-cart-full"></i></a></li>
                        <li><a class="compare" href="#"><i class="bi bi-heart-beat"></i></a></li>
                        <li><a data-toggle="modal" title="Quick View" class="quickview modal-view detail-link" href="#productmodal"><i class="bi bi-search"></i></a></li>
                      </ul>
                    </div>
                  </div>
                  <div class="product__hover--content">
                    <ul class="rating d-flex">
                      <li class="on"><i class="fa fa-star-o"></i></li>
                      <li class="on"><i class="fa fa-star-o"></i></li>
                      <li class="on"><i class="fa fa-star-o"></i></li>
                      <li><i class="fa fa-star-o"></i></li>
                      <li><i class="fa fa-star-o"></i></li>
                    </ul>
                  </div>
                </div>
              </div>
              <!-- Start Single Product -->
              <!-- Start Single Product -->
              <div class="product product__style--3 col-lg-4 col-md-4 col-sm-6 col-12">
                <div class="product__thumb">
                  <a class="first__img" href="single-product.html"><img src="/assets/books/3.jpg" alt="product image"></a>
                  <a class="second__img animation1" href="single-product.html"><img src="/assets/books/4.jpg" alt="product image"></a>
                  <div class="hot__box color--2">
                    <span class="hot-label">HOT</span>
                  </div>
                </div>
                <div class="product__content content--center">
                  <h4><a href="single-product.html">The Remainng</a></h4>
                  <ul class="prize d-flex">
                    <li>$35.00</li>
                    <li class="old_prize">$35.00</li>
                  </ul>
                  <div class="action">
                    <div class="actions_inner">
                      <ul class="add_to_links">
                        <li><a class="cart" href="cart.html"><i class="bi bi-shopping-bag4"></i></a></li>
                        <li><a class="wishlist" href="wishlist.html"><i class="bi bi-shopping-cart-full"></i></a></li>
                        <li><a class="compare" href="#"><i class="bi bi-heart-beat"></i></a></li>
                        <li><a data-toggle="modal" title="Quick View" class="quickview modal-view detail-link" href="#productmodal"><i class="bi bi-search"></i></a></li>
                      </ul>
                    </div>
                  </div>
                  <div class="product__hover--content">
                    <ul class="rating d-flex">
                      <li class="on"><i class="fa fa-star-o"></i></li>
                      <li class="on"><i class="fa fa-star-o"></i></li>
                      <li class="on"><i class="fa fa-star-o"></i></li>
                      <li><i class="fa fa-star-o"></i></li>
                      <li><i class="fa fa-star-o"></i></li>
                    </ul>
                  </div>
                </div>
              </div>
              <!-- Start Single Product -->
              <!-- Start Single Product -->
              <div class="product product__style--3 col-lg-4 col-md-4 col-sm-6 col-12">
                <div class="product__thumb">
                  <a class="first__img" href="single-product.html"><img src="/assets/books/7.jpg" alt="product image"></a>
                  <a class="second__img animation1" href="single-product.html"><img src="/assets/books/8.jpg" alt="product image"></a>
                  <div class="hot__box">
                    <span class="hot-label">HOT</span>
                  </div>
                </div>
                <div class="product__content content--center">
                  <h4><a href="single-product.html">Lando</a></h4>
                  <ul class="prize d-flex">
                    <li>$35.00</li>
                    <li class="old_prize">$50.00</li>
                  </ul>
                  <div class="action">
                    <div class="actions_inner">
                      <ul class="add_to_links">
                        <li><a class="cart" href="cart.html"><i class="bi bi-shopping-bag4"></i></a></li>
                        <li><a class="wishlist" href="wishlist.html"><i class="bi bi-shopping-cart-full"></i></a></li>
                        <li><a class="compare" href="#"><i class="bi bi-heart-beat"></i></a></li>
                        <li><a data-toggle="modal" title="Quick View" class="quickview modal-view detail-link" href="#productmodal"><i class="bi bi-search"></i></a></li>
                      </ul>
                    </div>
                  </div>
                  <div class="product__hover--content">
                    <ul class="rating d-flex">
                      <li class="on"><i class="fa fa-star-o"></i></li>
                      <li class="on"><i class="fa fa-star-o"></i></li>
                      <li class="on"><i class="fa fa-star-o"></i></li>
                      <li><i class="fa fa-star-o"></i></li>
                      <li><i class="fa fa-star-o"></i></li>
                    </ul>
                  </div>
                </div>
              </div>
              <!-- Start Single Product -->
              <!-- Start Single Product -->
              <div class="product product__style--3 col-lg-4 col-md-4 col-sm-6 col-12">
                <div class="product__thumb">
                  <a class="first__img" href="single-product.html"><img src="/assets/books/9.jpg" alt="product image"></a>
                  <a class="second__img animation1" href="single-product.html"><img src="/assets/books/10.jpg" alt="product image"></a>
                  <div class="hot__box">
                    <span class="hot-label">HOT</span>
                  </div>
                </div>
                <div class="product__content content--center">
                  <h4><a href="single-product.html">Doctor Wldo</a></h4>
                  <ul class="prize d-flex">
                    <li>$35.00</li>
                    <li class="old_prize">$35.00</li>
                  </ul>
                  <div class="action">
                    <div class="actions_inner">
                      <ul class="add_to_links">
                        <li><a class="cart" href="cart.html"><i class="bi bi-shopping-bag4"></i></a></li>
                        <li><a class="wishlist" href="wishlist.html"><i class="bi bi-shopping-cart-full"></i></a></li>
                        <li><a class="compare" href="#"><i class="bi bi-heart-beat"></i></a></li>
                        <li><a data-toggle="modal" title="Quick View" class="quickview modal-view detail-link" href="#productmodal"><i class="bi bi-search"></i></a></li>
                      </ul>
                    </div>
                  </div>
                  <div class="product__hover--content">
                    <ul class="rating d-flex">
                      <li class="on"><i class="fa fa-star-o"></i></li>
                      <li class="on"><i class="fa fa-star-o"></i></li>
                      <li class="on"><i class="fa fa-star-o"></i></li>
                      <li><i class="fa fa-star-o"></i></li>
                      <li><i class="fa fa-star-o"></i></li>
                    </ul>
                  </div>
                </div>
              </div>
              <!-- Start Single Product -->
              <!-- Start Single Product -->
              <div class="product product__style--3 col-lg-4 col-md-4 col-sm-6 col-12">
                <div class="product__thumb">
                  <a class="first__img" href="single-product.html"><img src="/assets/books/11.jpg" alt="product image"></a>
                  <a class="second__img animation1" href="single-product.html"><img src="/assets/books/2.jpg" alt="product image"></a>
                  <div class="hot__box">
                    <span class="hot-label">BEST SALER</span>
                  </div>
                </div>
                <div class="product__content content--center content--center">
                  <h4><a href="single-product.html">Animals Life</a></h4>
                  <ul class="prize d-flex">
                    <li>$50.00</li>
                    <li class="old_prize">$35.00</li>
                  </ul>
                  <div class="action">
                    <div class="actions_inner">
                      <ul class="add_to_links">
                        <li><a class="cart" href="cart.html"><i class="bi bi-shopping-bag4"></i></a></li>
                        <li><a class="wishlist" href="wishlist.html"><i class="bi bi-shopping-cart-full"></i></a></li>
                        <li><a class="compare" href="#"><i class="bi bi-heart-beat"></i></a></li>
                        <li><a data-toggle="modal" title="Quick View" class="quickview modal-view detail-link" href="#productmodal"><i class="bi bi-search"></i></a></li>
                      </ul>
                    </div>
                  </div>
                  <div class="product__hover--content">
                    <ul class="rating d-flex">
                      <li class="on"><i class="fa fa-star-o"></i></li>
                      <li class="on"><i class="fa fa-star-o"></i></li>
                      <li class="on"><i class="fa fa-star-o"></i></li>
                      <li><i class="fa fa-star-o"></i></li>
                      <li><i class="fa fa-star-o"></i></li>
                    </ul>
                  </div>
                </div>
              </div>
              <!-- Start Single Product -->
              <!-- Start Single Product -->
              <div class="product product__style--3 col-lg-4 col-md-4 col-sm-6 col-12">
                <div class="product__thumb">
                  <a class="first__img" href="single-product.html"><img src="/assets/books/1.jpg" alt="product image"></a>
                  <a class="second__img animation1" href="single-product.html"><img src="/assets/books/6.jpg" alt="product image"></a>
                  <div class="hot__box">
                    <span class="hot-label">BEST SALER</span>
                  </div>
                </div>
                <div class="product__content content--center content--center">
                  <h4><a href="single-product.html">Olio Madu</a></h4>
                  <ul class="prize d-flex">
                    <li>$50.00</li>
                    <li class="old_prize">$35.00</li>
                  </ul>
                  <div class="action">
                    <div class="actions_inner">
                      <ul class="add_to_links">
                        <li><a class="cart" href="cart.html"><i class="bi bi-shopping-bag4"></i></a></li>
                        <li><a class="wishlist" href="wishlist.html"><i class="bi bi-shopping-cart-full"></i></a></li>
                        <li><a class="compare" href="#"><i class="bi bi-heart-beat"></i></a></li>
                        <li><a data-toggle="modal" title="Quick View" class="quickview modal-view detail-link" href="#productmodal"><i class="bi bi-search"></i></a></li>
                      </ul>
                    </div>
                  </div>
                  <div class="product__hover--content">
                    <ul class="rating d-flex">
                      <li class="on"><i class="fa fa-star-o"></i></li>
                      <li class="on"><i class="fa fa-star-o"></i></li>
                      <li class="on"><i class="fa fa-star-o"></i></li>
                      <li><i class="fa fa-star-o"></i></li>
                      <li><i class="fa fa-star-o"></i></li>
                    </ul>
                  </div>
                </div>
              </div>
              <!-- Start Single Product -->
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-12 md-mt-40 sm-mt-40">
        <div class="shop__sidebar">
          <aside class="wedget__categories poroduct--cat">
            <h3 class="wedget__title">Product Categories</h3>
            <ul>
              <% @categories.each do |category| %>
                <li><%= link_to category_path(category) do %>
                    <%= category.name %> <span>(<%= category.books.size %>)</span>
                  <% end %></li>
              <% end %>
            </ul>
          </aside>
          <aside class="wedget__categories pro--range">
            <h3 class="wedget__title">Filter by price</h3>
            <div class="content-shopby">
              <div class="price_filter s-filter clear">
                <form action="#" method="GET">
                  <div id="slider-range"></div>
                  <div class="slider__range--output">
                    <div class="price__output--wrap">
                      <div class="price--output">
                        <span>Price :</span><input type="text" id="amount" readonly="">
                      </div>
                      <div class="price--filter">
                        <a href="#">Filter</a>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </aside>
          <aside class="wedget__categories poroduct--tag">
            <h3 class="wedget__title">Product Tags</h3>
            <ul>
              <li><a href="#">Biography</a></li>
              <li><a href="#">Business</a></li>
              <li><a href="#">Cookbooks</a></li>
              <li><a href="#">Health & Fitness</a></li>
              <li><a href="#">History</a></li>
              <li><a href="#">Mystery</a></li>
              <li><a href="#">Inspiration</a></li>
              <li><a href="#">Religion</a></li>
              <li><a href="#">Fiction</a></li>
              <li><a href="#">Fantasy</a></li>
              <li><a href="#">Music</a></li>
              <li><a href="#">Toys</a></li>
              <li><a href="#">Hoodies</a></li>
            </ul>
          </aside>
          <aside class="wedget__categories sidebar--banner">
            <img src="/assets/others/banner_left.jpg" alt="banner images">
            <div class="text">
              <h2>new products</h2>
              <h6>save up to <br>
                <strong>40%</strong>off</h6>
            </div>
          </aside>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End main Content -->
