<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1><%= t ".title" %></h1>
        </div>
      </div>
    </div>
    <!-- /.container-fluid -->
  </section>
  <!-- Main content -->
  <section class="content">
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-header">
            <h3 class="card-title">
              <%= t ".title" %>
            </h3>
          </div>
          <!-- /.card-header -->
          <div class="card-body">
            <table id="books_table" class="table table-bordered table-striped">
              <thead>
                <tr>
                  <th>#</th>
                  <th><%= t "table.receiver_name" %></th>
                  <th><%= t "table.receiver_phone" %></th>
                  <th><%= t "table.receiver_address" %></th>
                  <th><%= t "table.total_price" %></th>
                  <th><%= t "table.payment_method" %></th>
                  <th><%= t "table.status" %></th>
                  <th><%= t "table.created" %></th>
                  <th><%= t "table.updated" %></th>
                  <th><%= t "table.action" %></th>
                </tr>
              </thead>
              <tbody>
                <%= render @orders %>
              </tbody>
              <tfoot>
                <tr>
                  <th>#</th>
                  <th><%= t "table.receiver_name" %></th>
                  <th><%= t "table.receiver_phone" %></th>
                  <th><%= t "table.receiver_address" %></th>
                  <th><%= t "table.total_price" %></th>
                  <th><%= t "table.payment_method" %></th>
                  <th><%= t "table.status" %></th>
                  <th><%= t "table.created" %></th>
                  <th><%= t "table.updated" %></th>
                  <th><%= t "table.action" %></th>
                </tr>
              </tfoot>
            </table>
          </div>
          <!-- /.card-body -->
        </div>
        <!-- /.card -->
      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->
  </section>
  <!-- /.content -->
</div>
<!-- /.content-wrapper -->
