<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">
  <!-- Brand Logo -->
  <%= link_to users_path, class: "brand-link" do %>
    <img src="/assets/admin-lte/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
    <span class="brand-text font-weight-light">AdminLTE 3</span>
  <% end %>
  <!-- Sidebar -->
  <div class="sidebar">
    <!-- Sidebar user panel (optional) -->
    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
      <div class="image">
        <%= image_tag current_admin.avatar_url, class: "img-circle elevation-2" %>
      </div>
      <div class="info">
        <%= link_to current_admin.name, "", class: "d-block" %>
      </div>
    </div>
    <!-- Sidebar Menu -->
    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column text-sm nav-flat nav-legacy nav-compact"
        data-widget="treeview" role="menu" data-accordion="false">
        <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
        <li class="nav-item">
          <%= link_to admins_path, class: "nav-link #{'active' if controller_name == 'home' && action_name == 'index'}" do %>
            <i class="nav-icon fas fa-tachometer-alt"></i>
            <p>
              Dashboard
            </p>
          <% end %>
        </li>
        <li class="nav-item has-treeview <%= 'menu-open' if controller_name == 'books' %>">
          <a href="#" class="nav-link <%= 'active' if controller_name == 'books' %>">
            <i class="nav-icon fas fa-book"></i>
            <p>
              Books
              <i class="fas fa-angle-left right"></i>
              <span class="badge badge-info right">6</span>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <%= link_to admins_books_path,
                class: "nav-link #{'active' if controller_name == 'books' && action_name == 'index' && @type == 'all'}" do %>
                <i class="far fa-circle nav-icon"></i>
                <p>All</p>
              <% end %>
            </li>
            <li class="nav-item">
              <%= link_to admins_books_path(type: :selling),
                class: "nav-link #{'active' if controller_name == 'books' && action_name == 'index' && @type == 'selling'}" do %>
                <i class="far fa-circle nav-icon"></i>
                <p>Selling</p>
              <% end %>
            </li>
            <li class="nav-item">
              <%= link_to admins_books_path(type: :sharing),
                class: "nav-link #{'active' if controller_name == 'books' && action_name == 'index' && @type == 'sharing'}" do %>
                <i class="far fa-circle nav-icon"></i>
                <p>Sharing</p>
              <% end %>
            </li>
            <li class="nav-item">
              <%= link_to admins_books_path(type: :exchange),
                class: "nav-link #{'active' if controller_name == 'books' && action_name == 'index' && @type == 'exchange'}" do %>
                <i class="far fa-circle nav-icon"></i>
                <p>Exchange</p>
              <% end %>
            </li>
          </ul>
        </li>
        <li class="nav-item">
          <%= link_to admins_posts_path, class: "nav-link #{'active' if controller_name == 'posts'}" do %>
            <i class="nav-icon fas fa-copy"></i>
            <p>
              Posts
            </p>
          <% end %>
        </li>
        <li class="nav-item">
          <a href="pages/widgets.html" class="nav-link">
            <i class="nav-icon fas fa-th"></i>
            <p>
              Widgets
              <span class="right badge badge-danger">New</span>
            </p>
          </a>
        </li>
        <li class="nav-header">Settings</li>
        <li class="nav-item">
          <%= link_to destroy_admin_session_path, method: :delete, class: "nav-link" do %>
            <i class="nav-icon fas fa-power-off"></i>
            <p>
              Logout
            </p>
          <% end %>
        </li>
      </ul>
    </nav>
    <!-- /.sidebar-menu -->
  </div>
  <!-- /.sidebar -->
</aside>
