<!DOCTYPE html>
<html>
  <head>
    <title>Dashboard - Bookshare</title>
    <%= csrf_meta_tags %>
    <% if user_signed_in? %>
      <%= tag :meta, name: "user-type", data: {user_type: current_user.class.name} %>
      <%= tag :meta, name: "current-user", data: user_meta_data %>
    <% end %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag "dashboard", media: "all", "data-turbolinks-track": "reload" %>
    <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
    <%= favicon_link_tag "favicon.ico" %>
    <%= javascript_include_tag "dashboard", "data-turbolinks-track": "reload" %>
    <script src="https://kit.fontawesome.com/d2bab9a9cf.js" crossorigin="anonymous"></script>
    <script type="text/javascript">
      I18n.defaultLocale = '<%= I18n.default_locale %>';
      I18n.locale = '<%= I18n.locale %>';
    </script>
    <%= javascript_include_tag Ckeditor.cdn_url %>
  </head>
  <body class="hold-transition sidebar-mini text-sm">
    <!--[if lte IE 9]>
      <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
    <![endif]-->
    <!-- Main wrapper -->
    <div class="wrapper">
      <%= render "layouts/flash" %>
      <%= render "layouts/admins/navbar" %>
      <%= render "layouts/admins/sidebar" %>
      <%= yield %>
      <%= render "layouts/admins/footer" %>
    </div>
    <!-- //Main wrapper -->
  </body>
</html>
