<li>
  <div class="wn__comment">
    <div class="thumb">
      <%= image_tag comment.user.avatar_url %>
    </div>
    <div class="content">
      <div class="comnt__author d-block d-sm-flex">
        <span><%= link_to comment.user.name, user_path(comment.user) %></span>
        <span><%= l comment.created_at %></span>
        <% if user_signed_in? %>
          <div class="reply__btn">
            <%= link_to t(".reply"), "javascript:void(0)", class: "reply_btn",
              parent_id: comment.id, user: comment.user.name %>
          </div>
        <% end %>
        <% if user_signed_in? && current_user.id == comment.user.id %>
          <div class="reply__btn">
            <%= link_to t(".delete"), "javascript:void(0)", class: "delete_comment_btn",
              commentid: comment.id, pid: comment.post.id, parent_id: comment.id %>
          </div>
        <% end %>
      </div>
      <p><%= comment.content %></p>
    </div>
  </div>
</li>
<ul id="comment-<%= comment.id %>">
  <%= render partial: "posts/comment_reply", collection: comment.child_comments, as: :child_comment %>
</ul>
