<%= form_for @post, html: {class: "form-horizontal"} do |f| %>
  <%= render "shared/error_messages", object: f.object %>
  <div class="form-group">
    <%= f.label :title, t("form.title"), class: "control-label" %>
    <%= f.text_field :title, required: true, autocomplete: :off,
          class: "form-control", placeholder: t("placeholder.enter_title") %>
  </div>
  <div class="form-group">
    <%= f.label :photo, t("form.photo"), class: "control-label" %>
    <%= f.file_field :photo, class: "form-control upload-image", accept: Settings.accept_image%>
    <div class="thumb" id="preview-image" >
      <%= image_tag @post.photo_url %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :preview, t("form.preview"), class: "control-label" %>
    <%= f.text_area :preview, required: true, autocomplete: :off,
          class: "form-control", placeholder: t("placeholder.enter_preview") %>
  </div>
  <div class="form-group">
    <%= f.label :content, t("form.content"), class: "control-label" %>
    <%= f.cktext_area :content, required: true, autocomplete: :off,
          class: "form-control", placeholder: t("placeholder.enter_content") %>
  </div>
  <div class="form-group">
    <%= f.button :submit, class: "btn btn-primary" do %>
      <i class="fa fa-save"></i> <%= t("action.save") %>
    <% end %>
    <%= button_tag type: :reset, class: "btn btn-success" do %>
      <i class="fa fa-rotate-left"></i> <%= t("action.reset") %>
    <% end %>
    <%= link_to user_posts_path(current_user), class: "btn btn-default" do %>
      <i class="fa fa-times"></i> <%= t("action.cancel") %>
    <% end %>
  </div>
<% end %>
