<!-- Start Bradcaump area -->
<div class="ht__bradcaump__area bg-image--6">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="bradcaump__inner text-center">
          <h2 class="bradcaump-title">Blog Details</h2>
          <nav class="bradcaump-content">
            <a class="breadcrumb_item" href="index.html">Home</a>
            <span class="brd-separetor">/</span>
            <span class="breadcrumb_item active">Blog-Details</span>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Bradcaump area -->
<div class="page-blog-details section-padding--lg bg--white">
  <div class="container">
    <div class="row">
      <div class="col-lg-9 col-12">
        <div class="blog-details content">
          <article class="blog-post-details">
            <div class="post-thumbnail">
              <%= image_tag @post.photo_url %>
            </div>
            <div class="post_wrapper">
              <div class="post_header">
                <h2><%= @post.title %></h2>
                <div class="blog-date-categori">
                  <ul>
                    <li><%= l @post.updated_at, format: :short %></li>
                    <li><%= link_to @post.user.name, user_path(@post.user), title: "Post by #{@post.user.name}", rel: "author" %></li>
                  </ul>
                </div>
              </div>
              <div class="post_content">
                <%= @post.content.html_safe %>
              </div>
              <ul class="blog_meta">
                <li class="like_post">
                  <%= render "btn_like" %>
                </li>
                <li>
                  <span><%= @post.comments.count %></span>
                  <i class="far fa-comment"></i>
                </li>
              </ul>
            </div>
          </article>
          <div class="comments_area">
            <ul id="comment_list" class="comment__list">
              <%= render partial: "posts/comment", collection: @comments, as: :comment %>
            </ul>
          </div>
          <div class="comment_respond">
            <h3 class="reply_title">Leave a Reply <small><a href="#">Cancel reply</a></small></h3>
            <%= render "posts/form_comment" %>
          </div>
        </div>
      </div>
      <%= render "posts/right_bar" %>
    </div>
  </div>
</div>
