<!-- Header -->
<header id="wn__header" class="<%= "oth-page" unless ["static_pages"].include? controller_name %> header__area header__absolute sticky__header">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6 col-sm-6 col-6 col-lg-2">
        <div class="logo">
          <a href="index.html">
            <img src="/assets/logo/logo.png" alt="logo images">
          </a>
        </div>
      </div>
      <div class="col-lg-8 d-none d-lg-block">
        <nav class="mainmenu__nav">
          <ul class="meninmenu d-flex justify-content-start">
            <li><%= link_to t(".home"), root_path %></li>
            <li><%= link_to t(".shop"), books_path %></li>
            <li class="drop"><a href="shop-grid.html">Books</a>
              <div class="megamenu mega03">
                <ul class="item item03">
                  <li class="title">Categories</li>
                  <% @categories.each do |category| %>
                    <li><%= link_to category_path(category) do %>
                      <%= category.name %> <span>(<%= category.books.size %>)</span>
                    <% end %></li>
                  <% end %>
                </ul>
                <ul class="item item03">
                  <li class="title">Customer Favourite</li>
                  <li><a href="shop-grid.html">Mystery</a></li>
                  <li><a href="shop-grid.html">Religion & Inspiration</a></li>
                  <li><a href="shop-grid.html">Romance</a></li>
                  <li><a href="shop-grid.html">Fiction/Fantasy</a></li>
                  <li><a href="shop-grid.html">Sleeveless</a></li>
                </ul>
                <ul class="item item03">
                  <li class="title">Collections</li>
                  <li><a href="shop-grid.html">Science </a></li>
                  <li><a href="shop-grid.html">Fiction/Fantasy</a></li>
                  <li><a href="shop-grid.html">Self-Improvemen</a></li>
                  <li><a href="shop-grid.html">Home & Garden</a></li>
                  <li><a href="shop-grid.html">Humor Books</a></li>
                </ul>
              </div>
            </li>
            <li class="drop"><a href="shop-grid.html">Kids</a>
              <div class="megamenu mega02">
                <ul class="item item02">
                  <li class="title">Top Collections</li>
                  <li><a href="shop-grid.html">American Girl</a></li>
                  <li><a href="shop-grid.html">Diary Wimpy Kid</a></li>
                  <li><a href="shop-grid.html">Finding Dory</a></li>
                  <li><a href="shop-grid.html">Harry Potter</a></li>
                  <li><a href="shop-grid.html">Land of Stories</a></li>
                </ul>
                <ul class="item item02">
                  <li class="title">More For Kids</li>
                  <li><a href="shop-grid.html">B&N Educators</a></li>
                  <li><a href="shop-grid.html">B&N Kids' Club</a></li>
                  <li><a href="shop-grid.html">Kids' Music</a></li>
                  <li><a href="shop-grid.html">Toys & Games</a></li>
                  <li><a href="shop-grid.html">Hoodies</a></li>
                </ul>
              </div>
            </li>
            <li class="drop"><a href="#">Pages</a>
              <div class="megamenu dropdown">
                <ul class="item item01">
                  <li><a href="about.html">About Page</a></li>
                  <li class="label2"><a href="portfolio.html">Portfolio</a>
                    <ul>
                      <li><a href="portfolio.html">Portfolio</a></li>
                      <li><a href="portfolio-details.html">Portfolio Details</a></li>
                    </ul>
                  </li>
                  <li><a href="my-account.html">My Account</a></li>
                  <li><a href="cart.html">Cart Page</a></li>
                  <li><a href="checkout.html">Checkout Page</a></li>
                  <li><a href="wishlist.html">Wishlist Page</a></li>
                  <li><a href="error404.html">404 Page</a></li>
                  <li><a href="faq.html">Faq Page</a></li>
                  <li><a href="team.html">Team Page</a></li>
                </ul>
              </div>
            </li>
            <li class="drop <%= "with--one--item" if !user_signed_in? %>"><%= link_to "Blog", posts_path %>
              <% if user_signed_in? %>
                <div class="megamenu dropdown">
                  <ul class="item item01">
                    <li><%= link_to t(".blog_page"), posts_path %></li>
                      <li><%= link_to t(".my_blog"), user_posts_path(current_user) %></li>
                  </ul>
                </div>
              <% end %>
            </li>
            <li><a href="contact.html">Contact</a></li>
          </ul>
        </nav>
      </div>
      <div class="col-md-6 col-sm-6 col-6 col-lg-2">
        <ul class="header__sidebar__right d-flex justify-content-end align-items-center">
          <li class="shop_search"><a class="search__active" href="#"></a></li>
          <li class="wishlist"><a href="#"></a></li>
          <li class="shopcart">
            <%= link_to cart_path do %>
              <span class="product_qun"><%= size_cart %></span>
            <% end %>
          </li>
          <li class="setting__bar__icon"><a class="setting__active" href="#"></a>
            <div class="searchbar__content setting__block">
              <div class="content-inner">
                <div class="switcher-currency">
                  <strong class="label switcher-label">
                    <span>Currency</span>
                  </strong>
                  <div class="switcher-options">
                    <div class="switcher-currency-trigger">
                      <span class="currency-trigger">USD - US Dollar</span>
                      <ul class="switcher-dropdown">
                        <li>GBP - British Pound Sterling</li>
                        <li>EUR - Euro</li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="switcher-currency">
                  <strong class="label switcher-label">
                    <span>Language</span>
                  </strong>
                  <div class="switcher-options">
                    <div class="switcher-currency-trigger">
                      <% if cookies[:language] == "en" %>
                        <span id="selected_language" class="currency-trigger">English</span>
                        <ul class="switcher-dropdown">
                          <li class="language_option" data-language="vi">Tiếng Việt</li>
                        </ul>
                      <% else %>
                        <span id="selected_language" class="currency-trigger">Tiếng Việt</span>
                        <ul class="switcher-dropdown">
                          <li class="language_option" data-language="en">English</li>
                        </ul>
                      <% end %>
                    </div>
                  </div>
                </div>
                <div class="switcher-currency">
                  <strong class="label switcher-label">
                    <span>Select Store</span>
                  </strong>
                  <div class="switcher-options">
                    <div class="switcher-currency-trigger">
                      <span class="currency-trigger">Fashion Store</span>
                      <ul class="switcher-dropdown">
                        <li>Furniture</li>
                        <li>Shoes</li>
                        <li>Speaker Store</li>
                        <li>Furniture</li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="switcher-currency">
                  <strong class="label switcher-label">
                    <span>My Account</span>
                  </strong>
                  <div class="switcher-options">
                    <div class="switcher-currency-trigger">
                      <div class="setting__menu">
                        <span><a href="#">Compare Product</a></span>
                        <% if user_signed_in? %>
                          <span><%= link_to current_user.name, edit_user_registration_path %></span>
                          <span><a href="#">My Wishlist</a></span>
                          <span><%= link_to "Sign out", destroy_user_session_path, method: :delete %></span>
                        <% else %>
                          <span><%= link_to "Sign in", new_user_session_path %></span>
                          <span><%= link_to "Create An Account", new_user_registration_path %></span>
                        <% end %>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <!-- Start Mobile Menu -->
    <div class="row d-none">
      <div class="col-lg-12 d-none">
        <nav class="mobilemenu__nav">
          <ul class="meninmenu">
            <li><a href="index.html">Home</a></li>
            <li><a href="#">Pages</a>
              <ul>
                <li><a href="about.html">About Page</a></li>
                <li><a href="portfolio.html">Portfolio</a>
                  <ul>
                    <li><a href="portfolio.html">Portfolio</a></li>
                    <li><a href="portfolio-details.html">Portfolio Details</a></li>
                  </ul>
                </li>
                <li><a href="my-account.html">My Account</a></li>
                <li><a href="cart.html">Cart Page</a></li>
                <li><a href="checkout.html">Checkout Page</a></li>
                <li><a href="wishlist.html">Wishlist Page</a></li>
                <li><a href="error404.html">404 Page</a></li>
                <li><a href="faq.html">Faq Page</a></li>
                <li><a href="team.html">Team Page</a></li>
              </ul>
            </li>
            <li><a href="shop-grid.html">Shop</a>
              <ul>
                <li><a href="shop-grid.html">Shop Grid</a></li>
                <li><a href="single-product.html">Single Product</a></li>
              </ul>
            </li>
            <li><a href="blog.html">Blog</a>
              <ul>
                <li><a href="blog.html">Blog Page</a></li>
                <li><a href="blog-details.html">Blog Details</a></li>
              </ul>
            </li>
            <li><a href="contact.html">Contact</a></li>
          </ul>
        </nav>
      </div>
    </div>
    <!-- End Mobile Menu -->
    <div class="mobile-menu d-block d-lg-none">
    </div>
    <!-- Mobile Menu -->
  </div>
</header>
<!-- //Header -->
