<!-- Header -->
<header id="wn__header" class="<%= "oth-page" unless ["static_pages"].include? controller_name %> header__area header__absolute sticky__header">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6 col-sm-6 col-6 col-lg-2">
        <div class="logo">
          <%= link_to root_path do %>
            <img src="/assets/logo/logo.png" alt="logo images">
          <% end %>
        </div>
      </div>
      <div class="col-lg-8 d-none d-lg-block">
        <nav class="mainmenu__nav">
          <ul class="meninmenu d-flex justify-content-start">
            <li><%= link_to t(".home"), root_path %></li>
            <li><%= link_to t(".shop"), selling_books_path %></li>
            <li class="drop"><%= link_to t(".books"), books_path %>
              <div class="megamenu dropdown">
                <ul class="item item01">
                  <li class="title"><%= t ".categories" %></li>
                  <% @categories.each do |category| %>
                    <li><%= link_to category_path(category) do %>
                        <%= category.name %> <span>(<%= category.books.size %>)</span>
                      <% end %></li>
                  <% end %>
                </ul>
              </div>
            </li>
            <li><%= link_to t(".share"), sharing_books_path %></li>
            <li><%= link_to t(".exchange"), exchange_books_path %></li>
            <li class="drop <%= "with--one--item" if !user_signed_in? %>"><%= link_to t(".blog"), posts_path %>
              <% if user_signed_in? %>
                <div class="megamenu dropdown">
                  <ul class="item item01">
                    <li><%= link_to t(".blog_page"), posts_path %></li>
                    <li><%= link_to t(".my_blog"), user_posts_path(current_user) %></li>
                  </ul>
                </div>
              <% end %>
            </li>
          </ul>
        </nav>
      </div>
      <div class="col-md-6 col-sm-6 col-6 col-lg-2">
        <ul class="header__sidebar__right d-flex justify-content-end align-items-center">
          <li class="shop_search">
            <%= render "layouts/search_popup" %>
          </li>
          <li class="wishlist"><a href="#"></a></li>
          <li class="shopcart">
            <%= link_to cart_path do %>
              <span class="product_qun"><%= size_cart %></span>
            <% end %>
          </li>
          <li class="setting__bar__icon">
            <a class="setting__active" href="#">
              <% if user_signed_in? %>
                <span class="product_qun"><%= @counter + @inbox_counter %></span>
              <% end %>
            </a>
            <div class="searchbar__content setting__block">
              <div class="content-inner">
                <div class="switcher-currency">
                  <strong class="label switcher-label">
                    <span><%= t ".language" %></span>
                  </strong>
                  <div class="switcher-options">
                    <div class="switcher-currency-trigger">
                      <% if cookies[:language] == "en" %>
                        <span id="selected_language" class="currency-trigger">English</span>
                        <ul class="switcher-dropdown">
                          <li class="language_option" data-language="vi">Tiếng Việt</li>
                        </ul>
                      <% else %>
                        <span id="selected_language" class="currency-trigger">Tiếng Việt</span>
                        <ul class="switcher-dropdown">
                          <li class="language_option" data-language="en">English</li>
                        </ul>
                      <% end %>
                    </div>
                  </div>
                </div>
                <div class="switcher-currency">
                  <strong class="label switcher-label">
                    <span><%= t ".my_account" %></span>
                  </strong>
                  <div class="switcher-options">
                    <div class="switcher-currency-trigger">
                      <div class="setting__menu">
                        <% if user_signed_in? %>
                          <span>
                            <%= link_to users_path do %>
                              <%= t(".dashboard") %>
                              <span class="product_qun"><%= @counter + @inbox_counter %></span>
                            <% end %>
                          </span>
                          <span><%= link_to current_user.name, user_path(current_user) %></span>
                          <span><a href="#"><%= t ".my_wishlist" %></a></span>
                          <span><%= link_to t(".sign_out"), destroy_user_session_path, method: :delete %></span>
                        <% else %>
                          <span><%= link_to t(".sign_in"), new_user_session_path %></span>
                          <span><%= link_to t(".create_account"), new_user_registration_path %></span>
                        <% end %>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <!-- Start Mobile Menu -->
    <div class="row d-none">
      <div class="col-lg-12 d-none">
        <nav class="mobilemenu__nav">
          <ul class="meninmenu">
            <li><%= link_to t(".home"), root_path %></li>
            <li><%= link_to t(".shop"), selling_books_path %></li>
            <li><%= link_to t(".books"), books_path %>
              <ul>
                <% @categories.each do |category| %>
                  <li><%= link_to category_path(category) do %>
                      <%= category.name %> <span>(<%= category.books.size %>)</span>
                    <% end %></li>
                <% end %>
              </ul>
            </li>
            <li><%= link_to t(".share"), sharing_books_path %></li>
            <li><%= link_to t(".exchange"), exchange_books_path %></li>
            <li><%= link_to t(".blog"), posts_path %>
              <% if user_signed_in? %>
                <ul>
                  <li><%= link_to t(".blog_page"), posts_path %></li>
                  <li><%= link_to t(".my_blog"), user_posts_path(current_user) %></li>
                </ul>
              <% end %>
            </li>
          </ul>
        </nav>
      </div>
    </div>
    <!-- End Mobile Menu -->
    <div class="mobile-menu d-block d-lg-none">
    </div>
    <!-- Mobile Menu -->
  </div>
</header>
<!-- //Header -->
