<!DOCTYPE html>
<html>
  <head>
    <title>Bookshare</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track": "reload" %>
    <%= favicon_link_tag "favicon.ico" %>
    <%= javascript_include_tag "application", "data-turbolinks-track": "reload" %>
    <script src="https://kit.fontawesome.com/d2bab9a9cf.js" crossorigin="anonymous"></script>
    <script type="text/javascript">
      I18n.defaultLocale = '<%= I18n.default_locale %>';
      I18n.locale = '<%= I18n.locale %>';
    </script>
    <%= javascript_include_tag Ckeditor.cdn_url %>
  </head>
  <body>
    <!--[if lte IE 9]>
      <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
    <![endif]-->
    <!-- Main wrapper -->
    <div class="wrapper" id="wrapper">
      <%= render "layouts/header" %>
      <%= render "layouts/flash" %>
      <%= yield %>
      <%= render "layouts/footer" %>
    </div>
    <!-- //Main wrapper -->
  </body>
</html>
