<!DOCTYPE html>
<html>
  <head>
    <title>Bookshare</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbolinks-track": "reload" %>
  </head>
  <body>
    <!--[if lte IE 9]>
      <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
    <![endif]-->
    <!-- Main wrapper -->
    <div class="wrapper" id="wrapper">
      <%= render "layouts/header" %>
      <%= render "layouts/flash" %>
      <%= render "layouts/search_popup" %>
      <%= yield %>
      <%= render "layouts/footer" %>
    </div>
    <!-- //Main wrapper -->
  </body>
</html>
